.App {
  max-width: 1040px;
  margin: 0 auto;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Header nav {
  display: flex;
  justify-content: flex-end;
}

.Header nav a {
  color: black;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  text-decoration: underline;
}

.SignUpForm {
  display: flex;
  flex-direction: column;
}

.SignUpForm input,
.SignUpForm button {
  margin-bottom: 30px;
  max-width: 400px;
  width: 100%;
}

.LoginForm {
  display: flex;
  flex-direction: column;
}

.LoginForm input,
.LoginForm button {
  margin-bottom: 30px;
  max-width: 400px;
  width: 100%;
}
